<p>
  <mat-toolbar>
    <span>{{ 'app.header.label' | translate }}</span>
  </mat-toolbar>
</p>
<div class="row">
  <mat-form-field style="width: 100%;">
    <mat-label>{{ 'app.dropdown.label' | translate }}</mat-label>
    <mat-select (selectionChange)="getProducts($event)">
      <mat-option value="pt-BR">
        {{ 'app.dropdown.languages.portuguese' | translate }}
      </mat-option>
      <mat-option value="en-US">
        {{ 'app.dropdown.languages.english' | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  <span class="col-3" *ngFor="let item of products">
    <img src="{{item.imageURL}}" width="300px">
    <p>Nome: {{item.name}}</p>
    <p>Descrição: {{item.description}}</p>
    <p>Data de Cadastro: {{item.formattedDate}}</p>
    <p>Preço Sugerido: {{item.formattedPrice}}</p>
  </span>
</div>